メニュー
<ul>
  <li><%= link_to 'カテゴリ',controller: 'categories',action: 'index' %></li>
  <li><%= link_to 'トピック',controller: 'topics',action: 'index' %></li>
  <li><%= link_to 'コメント',controller: 'comments',action: 'index' %></li>
  <li><%= link_to 'ユーザ',controller: 'users',action: 'index' %></li>
</ul>
