<% breadcrumb :categories %>
<div class="container">
  <div style="display: inline;">
    <% @categories.each do |category| %>
        <div class="panel panel-default col-xs-12 col-sm-3 col-md-2">
          <%= link_to category do %>
            <div class="panel-body"  style="text-align: center">
              <% if category.image? %>
                <%= image_tag category.image.thumb.url, class: "img-responsive center-block"%>
              <% else %>
                <%= image_tag "/category-default.png", class: "img-responsive center-block", width: "50px", height: "50px"%>
              <% end %>
              <%= category.title %>
            </div><!-- end panel-body -->
          <% end %>
        </div><!-- end panel -->
    <% end %>
  </div>
</div><!-- end container -->
