<% breadcrumb :admin_root, %>
<div class="container">
  <ul>
    <li><%= link_to 'category index', controller: :categories, action: :index %></li>
    <li><%= link_to 'topic index', controller: :topics, action: :index %></li>
    <li><%= link_to 'comment index', controller: :comments, action: :index %></li>
    <li><%= link_to 'user index', controller: :users, action: :index %></li>
  </ul>
</div>
