<% breadcrumb :admin_root %>
<div class="container">
  <ul>
    <li><%= link_to 'カテゴリ', admin_categories_path %></li>
    <li><%= link_to 'トピック', admin_topics_path %></li>
    <li><%= link_to 'コメント', admin_comments_path %></li>
    <li><%= link_to 'ユーザ', admin_users_path %></li>
  </ul>
</div>
