<h1>Users#index</h1>
<ul class="users">
  <div class="container">
    <table class="table">
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.username, user %></td>
          <td><%= user.email %></td>
        </tr>
      <% end %>
    </table>
  </div>
</ul>
