/*
 *= require bootstrap
 *= require jquery-ui
 */

.long-text {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.table {
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
}
button.gotop{
  z-index: 9999;
  position: fixed;
  right: 5%;
  bottom: 0;
}
